.container {
  width: 600px;
  height: 600px;
  background-color: darkgrey;
  user-select: none;
  touch-action: none;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
}
